<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"
  />
  <title>thinkjs</title>
  <style>
    html {
      font-family: arial;
      font-family: "Lantinghei SC", "Microsoft YaHei", "微软雅黑", SimSun, Arial;
      font-size: 16px;
    }

    a,
    a:visited {
      color: #337ab7;
      text-decoration: none;
    }

    .content {
      text-align: center;
    }
  </style>
</head>

<body>
  <div class="content">
   thinkjs.....
  </div>
</body>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
</html>